/**
 *  Stylesheet for both "Sing Sang Sung" and "Gumball Machine"
 *  ~ David Su dds2135@columbia.edu
 **/

/* Shared styles */
@font-face {
    font-family: LifeIsGoofy;
    src: url(./assets/fonts/lifeisgoofy.ttf);
}

html {
    font-family: Lucida, Verdana, sans-serif;
}

body {
    background-color: #dddddd;
    text-align: center;
}

h1 {
    font-family: LifeIsGoofy, sans-serif;
    font-size: 76px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 25px;
}

#content {
    width: 75%;
    height: 100%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: #f0f0f0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clickable:hover {
    cursor: pointer;
}

/* Sing Sang Sung styles */
.imageContainer {
    display: inline-block;
    width: 125px;
    height: 125px;
    opacity: 0.5;
}

.clickable .imageContainer:hover {
    opacity: 0.75;
}

.imageContainer:active {
    opacity: 1;
}

#timerDisplay {
    padding: 10px;
    visibility: hidden;
}

#scoreboard {
    margin-bottom: 25px;
}

#currScore {
    visibility: hidden;
}

/* Gumball styles */
#gumballGetter {
    width: 50%;
    max-width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}

#gumballGetter:active {
    color: white;
}

#gumball {
    width: 250px;
    height: 250px;
    margin: 25px auto;
    border-radius: 50%;
    background: #000000;
}